<%- include('./src/header'); %>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title mb-2"><i class="dripicons-store"></i>  Fal Cevapla</h4>  
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Bira Cini</a></li>
                    <li class="breadcrumb-item"><a href="/operatings/operatings/">Cevaplanmış Fallar</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);"> Fal Cevapla</a></li>
                </ol>
            </div>                                      
        </div>
    </div>
</div>
<%- include('./src/sidebar'); %>
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="/assets/images/logo-sm.png" alt="" class=" mx-auto  d-block" height="300">
                                <div class="row">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4"></div>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-2 align-self-center">
                                <div class="single-pro-detail">
                                    <p class="mb-1">Adı Soyadı</p>
                                    <div class="custom-border"></div>
                                    <h3 class="pro-title"><%= find_fortune.fullName%></h3>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-2 align-self-center">
                                <div class="single-pro-detail">
                                    <p class="mb-1">Cinsiyet</p>
                                    <div class="custom-border"></div>
                                    <h3 class="pro-title"><%= find_fortune.gender%></h3>
                                </div>
                            </div><!--end col-->   
                            <div class="col-lg-2 align-self-center">
                                <div class="single-pro-detail">
                                    <p class="mb-1">Doğum Tarihi</p>
                                    <div class="custom-border"></div>
                                    <h3 class="pro-title"><%= find_fortune.birthday%></h3>
                                </div>
                            </div><!--end col-->   
                            <div class="col-lg-2 align-self-center">
                                <div class="single-pro-detail">
                                    <p class="mb-1">Meslek</p>
                                    <div class="custom-border"></div>
                                    <h3 class="pro-title"><%= find_fortune.job%></h3>
                                </div>
                            </div><!--end col-->                                              
                        </div><!--end row-->
                    </div><!--end card-body-->
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">FAL CEVAPLA</h4>
                        <form action='/fortunes/answerFortune/<%=find_fortune._id%>' method='POST'>
                            <div class="row">
                                <div class="col-lg-10">
                                    <select class="form-control"  name="" id="ad">
                                        <option value="">Fal Seç</option>
                                        <option value="Fal 1 İçerik">Fal 1</option>
                                        <option value="Fal 2 İçerik">Fal 2</option>
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <input class="btn btn-primary" type="button" value="Falı Yazdır" onclick="yaz()"/>
                                </div>
                            </div>
                        </br>
                            <!-- <div class="form-group">
                                <textarea required="" name='fortuneAnswer' id='tb' class="form-control" value='<%= find_fortune.mail%>' placeholder="Fal Başlığı Giriniz..." rows="1"></textarea>
                            </div> -->
                            <div class="form-group">
                                <textarea required="" name='fortuneAnswer' id='sonuc' class="form-control" value='<%= find_fortune.mail%>' placeholder="Fal Cevabı Giriniz..." rows="5"></textarea>
                            </div>
                            <button name="action" type="submit" class="btn btn-primary">Gönder</button>
                        </form>                                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./src/footer'); %>
                        
